<div style="background: linear-gradient(#1f6142,#1f6142);">
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                    <div class="inner-box">
                        <h2 class="title-2">[#lang_title_affiliate_program]</h2>
                        
                        [#lang_affiliate_1] [@name] [#lang_affiliate_2] [@referral_comission]% [#lang_affiliate_3]<br><br>
                        
                        <b>[#lang_affiliate_4]</b><br/>
                        [#lang_affiliate_5] [@referral_comission]% [#lang_of] 5.
                        
                        
                        <br><br><b>[#lang_affiliate_6]:</b>
                        <ul>
                            <li>- [#lang_affiliate_7]</li>
                            <li>- [#lang_affiliate_8]</li>
                            <li>- [#lang_affiliate_9]</li>
                        </ul>
                    </div>
                    <!--/.inner-box-->
            </div>
            <div class="col-md-3 hidden-xs hidden-sm">
                
                        [@UserMenu]

                            <!--/.inner-box-->
            </div>
        </div>
    </div>
</div>
</div>