<div style="background: linear-gradient(#1f6142,#1f6142);">
<div class="main-container">
    <div class="container">
        <div class="row clearfix">
               <div class="col-md-6">
                <div class="card">
                        <div class="card-body">
                             <h3><a title="WhatsApp" data-placement="top" target="_blank" href="https://wa.me/message/GLXYQSQVRG2WN1"><img src="/app/templates/CryptoExchanger/assets/img/wp.png" width="50px"> <b>+8801626220030‬</b></a></h3>
                        <h3><a title="Facebook Page" data-placement="top" target="_blank" href="https://www.facebook.com/profile.php?id=100087093819759"><img src="/app/templates/CryptoExchanger/assets/img/fb.png" width="50px"> <b>aTopWallet</b></a></h3>
                       
                         </div>
                    </div>
                </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                         <div class="contact-form">
                    <h5 class="list-title gray"><strong>Contact us</strong></h5>

                    [@results]

                    <form class="form-horizontal" method="post" action="">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                            <input id="firstname" name="first_name" type="text" placeholder="[#lang_field_11]"
                                                   class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                            <input id="lastname" name="last_name" type="text" placeholder="[#lang_field_12]"
                                                   class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                            <input id="email" name="email" type="text" placeholder="[#lang_field_26]"
                                                   class="form-control">
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                            <input id="subject" name="subject" type="text"
                                                   placeholder="[#lang_field_6]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                            <textarea class="form-control" id="message" name="message"
                                                      placeholder="[#lang_field_29]"
                                                      rows="7"></textarea>
                                    </div>

                                    [@insert_recaptcha]
                                    <div class="form-group">
                                            <button type="submit" name="ce_btn" value="send" class="btn btn-primary btn-lg">[#lang_btn_3]</button>
                                    </div>


                                </div>

                            </div>


                        </fieldset>
                    </form>
                </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
</div>
<!-- /.main-container -->