<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                    <div class="inner-box">
                        <h2 class="title-2">[#lang_title_discount_system]</h2>
                        
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>[#lang_tb_discount_level]</th>
                                        <th>[#lang_tb_exchanged_volume]</th>
                                        <th>[#lang_tb_discount_percentage]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    [@discount_rows]
                                    <tr>
                                        <td colspan="3">
                                            [#lang_info_2]<br/>
                                            [#lang_info_9]
                                        </td>
                                    </tr>
            
                                </tbody>
                            </table>
            
                        </div>
                    </div>
                    <!--/.inner-box-->
            </div>
            <div class="col-md-3 hidden-xs hidden-sm">
                
                        [@UserMenu]

                            <!--/.inner-box-->
            </div>
        </div>
    </div>
</div>