
    <div class="main-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 login-box">
                        <div class="card card-default">
                            <div class="panel-intro text-center">
                                <h2 class="logo-title">
                                    <!-- Original Logo will be placed here  -->
                                    <i class="fa fa-check fa-4x"></i> 
                                </h2>
                            </div>
                            <div class="card-body text-center">

                                   [#lang_success_16]
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.main-container -->