<div style="background: linear-gradient(#1f6142,#1f6142);">
    <div class="main-container inner-page">
        <div class="container">
            <div class="section-content">
                <div class="row ">
                    <h1 class="text-center title-1"><strong>[#lang_title_faq]</strong></h1>
                    <hr class="center-block small text-hr">
                </div>
                <div class="faq-content">

                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group faq-panel">
                        [@faq_rows]


                    </div>


                </div>


            </div>
        </div>
    </div>
    </div>
    <!-- /.main-container -->