
    <footer class="main-footer">
            <div class="footer-content" style="background-image:linear-gradient(#fff,#178551);">
                <div class="container">
                    <div class="row">
    <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: " +8801626220030", // WhatsApp number
            call_to_action: "Message us", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
                        <div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
                            <div class="footer-col">
                                <h4 class="footer-title">[#lang_title_about_us]</h4>
                                <ul class="list-unstyled footer-nav">
                                    <li><a href="[@url]page/terms-of-services">[#lang_title_terms_of_services]</a></li>
                                    <li><a href="[@url]page/privacy-policy">[#lang_title_privacy_policy]</a></li>
                                    <li><a href="[@url]page/about-us">[#lang_title_about_us]</a></li>
                                </ul>
                            </div>
                        </div>
    
                        <div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
                            <div class="footer-col">
                                <h4 class="footer-title">[#lang_title_help_and_contact]</h4>
                                <ul class="list-unstyled footer-nav">
                                    <li><a href="[@url]page/faq">[#lang_title_faq]</a></li>
                                    <li><a href="[@url]contacts">[#lang_title_contacts]</a></li>
                                </ul>
                            </div>
                        </div>
    
                        <div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
                            <div class="footer-col">
                                <h4 class="footer-title">[#lang_more_from_us]</h4>
                                <ul class="list-unstyled footer-nav">
                                    
                                    <li><a href="[@url]news">[#lang_title_news]</a></li>
                                    <li><a href="[@url]sitemap">[#lang_title_sitemap]</a></li>
                                    <li><a href="[@url]reviews">[#lang_title_customer_reviews]</a></li>
                                    
                                    <li><a href="[@url]page/discount_system">[#lang_title_discount_system]</a></li>
                                    <li><a href="[@url]page/affiliate_program">[#lang_title_affiliate_program]</a></li>
    
    
                                </ul>
                            </div>
                        </div>
                        <div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
                            <div class="footer-col">
                                <h4 class="footer-title">[#lang_title_account]</h4>
                                <ul class="list-unstyled footer-nav">
                                    <li><a href="[@url]account/dashboard"> [#lang_title_manage_account]
                                    </a></li>
                                    <li><a href="[@url]login"> [#lang_title_login]
                                    </a></li>
                                    <li><a href="[@url]register"> [#lang_title_register]
                                    </a></li>
                                    <li><a href="[@url]account/exchanges"> [#lang_title_my_exchanges]
                                    </a></li>
                                    <li><a href="[@url]account/settings"> [#lang_title_profile]
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-xl-4 col-xl-4 col-md-4 col-12">
                            <div class="footer-col row">
    
                                <!--<div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
                                    <div class="mobile-app-content">
                                        <h4 class="footer-title">Mobile Apps</h4>
                                        <div class="row ">
                                            <div class="col-6  ">
                                                <a class="app-icon" target="_blank"  href="https://itunes.apple.com/">
                                                    <span class="hide-visually">iOS app</span>
                                                    <img src="[@url]app/templates/CryptoExchanger/images/site/app_store_badge.svg" alt="Available on the App Store">
                                                </a>
                                            </div>
                                            <div class="col-6  ">
                                                <a class="app-icon"  target="_blank" href="https://play.google.com/store/">
                                                    <span class="hide-visually">Android App</span>
                                                    <img src="[@url]app/templates/CryptoExchanger/images/site/google-play-badge.svg" alt="Available on the App Store">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
    
                                <div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
                                    <div class="hero-subscribe">
                                        <h4 class="footer-title no-margin">Follow us on</h4>
                                        <ul class="list-unstyled list-inline footer-nav social-list-footer social-list-color footer-nav-inline">
                                            <li><a class="icon-color fb" title="Facebook" data-placement="top" data-toggle="tooltip" href="https://www.facebook.com/profile.php?id=100087093819759"><i class="fab fa-facebook-f"></i> </a></li>
                                            <li><a class="icon-color tw" title="Twitter" data-placement="top" data-toggle="tooltip" href="https://twitter.com/ATopwallet?t=PB-kvaNXyjCetbWhDRGGog&s=09"><i class="fab fa-twitter"></i> </a></li>
                                           
                                           <li><a class="icon-color gp" title="" data-placement="top" data-toggle="tooltip" href="https://youtube.com/channel/UCO_eaFzEXpyhVInqRSuqKkw" data-original-title="youtube"><i class="fab fa-youtube"></i> </a></li>
                                            <li><a class="icon-color pin" title="Pinterest" data-placement="top" data-toggle="tooltip" href="https://pin.it/lglCoIJ"><i class="fab fa-pinterest-p"></i> </a></li>
                                        </ul>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
    
                        <div class="col-xl-12">
                            <!--<div class=" text-center paymanet-method-logo">
    
                                <img src="[@url]app/templates/CryptoExchanger/images/site/payment/master_card.png" alt="img">
                                <img alt="img" src="[@url]app/templates/CryptoExchanger/images/site/payment/visa_card.png">
                                <img alt="img" src="[@url]app/templates/CryptoExchanger/images/site/payment/paypal.png">
                                <img alt="img" src="[@url]app/templates/CryptoExchanger/images/site/payment/american_express_card.png"> <img alt="img" src="[@url]app/templates/CryptoExchanger/images/site/payment/discover_network_card.png">
                                <img alt="img" src="[@url]app/templates/CryptoExchanger/images/site/payment/google_wallet.png">
                            </div>-->
                            <br>
    <div class="footer-bottom clearfix text-center">
            <div class="container">
                <p style="color:#FFFFFF">Copyright © 2021-2022 <strong>[@name]</strong> All Right Reserved, Design By <a href="#"><font color="yellow">aTopWallet</font></a></p>
            </div>
        </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </footer>
    
    </div>
    <!-- /.wrapper -->
    
    
    <!-- Le javascript
    ================================================== -->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <input type="hidden" id="wurl" value="[@url]">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="[@url]app/templates/CryptoExchanger/assets/js/jquery/jquery-3.3.1.min.js">\x3C/script>')</script>
    <script src="[@url]app/templates/CryptoExchanger/assets/bootstrap/js/bootstrap.bundle.js"></script>
    
    <script src="[@url]app/templates/CryptoExchanger/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="[@url]app/templates/CryptoExchanger/assets/js/vendors.min.js"></script>
    <!-- include custom script for site  -->
    <script src="[@url]app/templates/CryptoExchanger/assets/js/main.min.js"></script>
    <script src="[@url]app/templates/CryptoExchanger/assets/js/ce.js"></script>
    <link href="[@url]app/templates/CryptoExchanger/assets/cleditor/jquery.cleditor.css" rel="stylesheet">
<script src="[@url]app/templates/CryptoExchanger/assets/cleditor/jquery.cleditor.min.js"></script>
<script>
    $(document).ready(function () { $("#cleditor").cleditor(); });
</script>
    </body>
    </html>
    