									<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="atopwallet.com">
    <!-- Fav and touch icons -->
    <link rel="icon" href="/app/templates/CryptoExchanger/assets/img/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#00803e">
    <title>aTopWallet Currency Exchanger in Bangladesh</title>
    <meta name="description" content="aTopWallet Currency Exchanger in Bangladesh">
    <meta name="keywords" content="aTopWallet Currency Exchanger in Bangladesh">
    <!-- Bootstrap core CSS -->
    <link href="[@url]app/templates/CryptoExchanger/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="[@url]app/templates/CryptoExchanger/assets/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link href="[@url]app/templates/CryptoExchanger/assets/css/style.css" rel="stylesheet">
    <link href="[@url]app/templates/CryptoExchanger/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- styles needed for carousel slider -->
    <link href="[@url]app/templates/CryptoExchanger/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="[@url]app/templates/CryptoExchanger/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- bxSlider CSS file -->
    <link href="[@url]app/templates/CryptoExchanger/assets/plugins/bxslider/jquery.bxslider.css" rel="stylesheet"/>
    <!-- Just for debugging purposes. -->

    <!-- Modified Script by atopwallet.com -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="[@url]app/templates/CryptoExchanger/assets/js/pace.min.js"></script>
    <script src="[@url]app/templates/CryptoExchanger/assets/plugins/modernizr/modernizr-custom.js"></script>
</head>
<body>
<div id="wrapper">
    <div class="header">
        <nav class="navbar  fixed-top navbar-site navbar-light bg-light navbar-expand-md"
             role="navigation">
            <div class="container">
            <div class="navbar-identity">
                <a href="[@url]" class="navbar-brand logo logo-title">
                    <img src="/logo2.png" height="40px">
                <img src="[@url]app/templates/CryptoExchanger/assets/img/logo.png" height="50px" style="margin-top:-5px;"></a>
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right"
                        type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
                </button>
                
            </div>
            
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                    </ul>
                    <ul class="nav navbar-nav ml-auto navbar-right"> 
                    
        <li class="nav-item" style="margin-left:5px"><a href="/app/atopwallet.apk" class="btn btn-primary btn-block" style="background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,66,150,1) 0%, rgba(34,38,113,1) 100%); text-align: left; color: white; width: 100%; text-align:center;"><i class="fa fa-download"></i>  Android App</a>
        </li>
        
        
        <li class="nav-item" style="margin-left:5px"><a href="/reviews" class="btn btn-primary btn-block" style="background-image: linear-gradient(-158deg, #fb00ff 10%, #262626 80%); text-align: left; color: white; width: 100%; text-align:center;"><i class="fa fa-star"></i>  Reviews</a>
        </li>
        
        <li class="nav-item" style="margin-left:5px"><a href="/news" class="btn btn-primary btn-block" style="background-image: linear-gradient(-158deg, #cc3300 10%, #262626 80%); text-align: left; color: white; width: 100%; text-align:center;"><i class="fa fa-newspaper"></i>  News</a>
        </li>
        <li class="nav-item" style="margin-left:5px"><a href="/contacts" class="btn btn-primary btn-block" style="background-image: linear-gradient(-158deg, #ff4262 10%, #262626 80%); text-align: left; color: white; width: 100%; text-align:center;"><i class="fa fa-phone"></i>  Contacts</a>
        </li>
          <li>[@UserMenu]</li>
       
    </ul>
                                    </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <!-- /.header -->
  [@homepage_wops]								