<div class="main-container inner-page">
        <div class="container">
            <div class="section-content">
                <div class="row ">
                    <div class="col-sm-8 blogLeft">
                        <div class="blog-post-wrapper">


                            <article class="blog-post-item">
                                <div class="inner-box">

                                    <!--blog content-->

                                    <div class="blog-post-content-desc">


                            <span class="info-row blog-post-meta"> <span class="date"><i class=" icon-clock"> </i> [@date] </span></span>


                                        <div class="blog-post-content">
                                            <h2><a href="[@url]news/view/[@id]">[@title]</a></h2>


                                            <div class="blog-article-text">

                                                    [@content]


                                            </div>


                                        </div>


                                        <div class="clearfix">
                                            <div class="col-md-12  blog-post-bottom">

                                                <ul class="share-this-post">
                                                    <li>[#lang_share_this]:</li>

                                                    <li><a class="google-plus" href="https://plus.google.com/share?url=[@url]news/view/[@id]"><i class="fab fa-google-plus"></i>Google-plus</a>
                                                    </li>
                                                    <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=[@url]news/view/[@id]"><i class="fab fa-facebook"></i>Facebook</a>
                                                    </li>
                                                    <li><a href="https://twitter.com/home?status=[@url]news/view/[@id]"><i  class="fab fa-twitter"></i>Twitter</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    


                                </div>
                            </article>


                        </div>
                        <!--/.blog-post-wrapper-->
                    </div>
                    <!--blogLeft-->


                    <div class="col-sm-4 blogRight page-sidebar">
                        <aside>
                            <div class="inner-box">
                                
                                <div class="categories-list  list-filter">
                                    <h5 class="list-title uppercase"><strong><a href="#">[#lang_recent_popular]</a></strong></h5>


                                    <div class="blog-popular-content">
                                        [@recent_popular]


                                    </div>


                                    <div style="clear:both"></div>

                                    <!--/.categories-list-->

                                </div>

                            </div>
                        </aside>
                    </div>
                    <!--page-sidebar-->

                </div>
            </div>

        </div>
    </div>
    <!-- /.main-container -->