<div style="background: linear-gradient(#1f6142,#1f6142);">
<div class="main-container inner-page">
        <div class="container">
            <div class="section-content">
                <div class="row ">
                    <div class="col-sm-8 blogLeft">
                        <div class="blog-post-wrapper">

                            [@news_list]


                            [@pages]
                        </div>
                        <!--/.blog-post-wrapper-->
                    </div>
                    <!--blogLeft-->


                    <div class="col-sm-4 blogRight page-sidebar">
                        <aside>
                            <div class="inner-box">
                                
                                <!--/.categories-list-->
                                <div class="categories-list  list-filter">
                                    <h5 class="list-title uppercase"><strong><a href="#">[#lang_recent_popular]</a></strong></h5>


                                    <div class="blog-popular-content">
                                        [@recent_popular]


                                    </div>


                                    <div style="clear:both"></div>

                                    <!--/.categories-list-->

                                </div>

                            </div>
                        </aside>
                    </div>
                    <!--page-sidebar-->

                </div>
            </div>

        </div>
</div>
    </div>
    <!-- /.main-container -->