
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 login-box">
                    <div class="card card-default">
                        <div class="panel-intro text-center">
                            <h2 class="logo-title">
                                <!-- Original Logo will be placed here  -->
                                <i class="fa fa-lock"></i> [#lang_title_change_password]
                            </h2>
                        </div>
                        <div class="card-body">

                            [@results]
                            
                            <form role="form" action="" method="POST">
                                <div class="form-group">
                                    <label for="sender-email" class="control-label">[#lang_field_26]:</label>

                                    <div class="input-icon"><i class="icon-user fa"></i>
                                        <input id="sender-email" type="text" placeholder="[#lang_field_26]"
                                               class="form-control email" name="email" disabled value="[@email]">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="user-pass" class="control-label">[#lang_field_20]:</label>

                                    <div class="input-icon"><i class="icon-lock fa"></i>
                                        <input type="password" class="form-control" placeholder="[#lang_field_20]"
                                               id="user-pass" name="password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="user-pass" class="control-label">[#lang_field_21]:</label>

                                    <div class="input-icon"><i class="icon-lock fa"></i>
                                        <input type="password" class="form-control" placeholder="[#lang_field_21]"
                                               id="user-pass" name="cpassword">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <button type="submit" name="ce_btn" value="change" class="btn btn-primary  btn-block">[#lang_btn_8]</a>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">

                            


                            <p class="text-center pull-right"><a href="[@url]login"> [#lang_already_have_access] </a>
                            </p>

                            <div style=" clear:both"></div>
                        </div>
                    </div>
                    <div class="login-box-btm text-center">
                        <p> [#lang_dont_have_account] <br>
                            <a href="[@url]register"><strong>[#lang_sign_up]</strong> </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-container -->