 ss
 <div class="main-container">
         <div class="container">
             <div class="row">
                 <div class="col-sm-5 login-box">
                     <div class="card card-default">
                         <div class="panel-intro text-center">
                             <h2 class="logo-title text-danger">
                                 <!-- Original Logo will be placed here  -->
                                 <i class="fa fa-times"></i> [#lang_fail]
                             </h2>
                         </div>
                         <div class="card-body text-center">
 
                             [#lang_your_order] #[@order_id] [#lang_was_not_paid]. <br/>
                             [#lang_redirecting]...
                             <meta http-equiv="refresh" content="3; url=[@url]order/[@order_hash]">
                         </div>
                         
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- /.main-container -->