<div style="background: linear-gradient(#1f6142,#1f6142);">
<div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 login-box">
                    <div class="card card-default">
                        <div class="panel-intro text-center">
                            <h2 class="logo-title">
                                <!-- Original Logo will be placed here  -->
                                <i class="fa fa-check"></i> [#lang_success]
                            </h2>
                        </div>
                        <div class="card-body text-center">

                            [#lang_your_order] #[@order_id] [#lang_was_paid] <br/>
                            [#lang_redirecting]...
                            <meta http-equiv="refresh" content="3; url=[@url]order/[@order_hash]">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <!-- /.main-container -->