<div style="background: linear-gradient(#1f6142,#1f6142);">
    <div class="main-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 page-content" style="margin: 0 auto;">
                        <div class="inner-box category-content">
                            <h2 class="title-2"><i class="icon-user-add"></i> [#lang_title_create_account] </h2>
    
                            <div class="row">
                                <div class="col-sm-12">
                                    [@results]
                                    <form class="form-horizontal" action="" method="POST">
                                        <fieldset>
    
                
                                            <div class="form-group  row required">
                                                <label for="inputEmail3" class="col-md-4 control-label">[#lang_field_26]
                                                    <sup>*</sup></label>
    
                                                <div class="col-md-6">
                                                    <input type="email" name="email" class="form-control" id="inputEmail3"
                                                           placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group  row required">
                                                    <label for="inputPassword3" class="col-md-4 control-label">[#lang_field_27] </label>
        
                                                    <div class="col-md-6">
                                                        <input type="password" name="password" class="form-control" id="inputPassword3"
                                                               placeholder="Password">
        
        
                                                            <small id="passwordHelpBlock" class="form-text text-muted">
        
        
                                                            [#lang_field_27_info]
                                                                </small>
                                                    </div>
                                                </div>
                                                <div class="form-group  row required">
                                                        <label for="inputPassword3" class="col-md-4 control-label">[#lang_field_32] </label>
            
                                                        <div class="col-md-6">
                                                            <input type="password" name="cpassword" class="form-control" id="inputPassword3"
                                                                   placeholder="Confirm Password">
            
            
                                                                <small id="passwordHelpBlock" class="form-text text-muted">
            
            
                                                                [#lang_field_27_info]
                                                                    </small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            <label class="col-md-4 control-label"></label>
                
                                                            <div class="col-md-8">
                                                                    [@insert_recaptcha]
                                                            </div>
                                                        </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 control-label"></label>
    
                                                <div class="col-md-8">
                                                    <div class="termbox mb10">
                                                        <div class="col-auto my-1 no-padding">
                                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                                <input type="checkbox" name="p1" value="ok" class="custom-control-input" id="customControlAutosizing">
                                                                <label class="custom-control-label" for="customControlAutosizing">  
                                                                    <span class="custom-control-description"> [#lang_i_agree_with] <a href="[@url]page/terms-of-services">[#lang_title_terms_of_services]</a> </span>
                                                                </label>
                                                            </div>
                                                        </div>
    
                                                    </div>
                                                    <div style="clear:both"></div>
                                                    <button type="submit" name="ce_btn" value="register" class="btn btn-primary">[#lang_btn_21]</a></div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.page-content -->
    
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.main-container -->
    </div>