<div style="background: linear-gradient(#1f6142,#1f6142);">
    <div class="main-container inner-page">
            <div class="container">
                <div class="section-content">
                    <div class="row ">
                        <h2 class="text-center title-1"> [#lang_title_sitemap] </h2>
                        <hr class="center-block small text-hr">
                    </div>
                    <div class="container-content">
    
                        <div class="inner-box ">
                           
                                <h4>[#lang_pages]</h4>
                                <ul class="list-circle">
                                        <li><a href="[@url]">[#lang_sitemap_homepage]</a></li>
                                        <li><a href="[@url]login">[#lang_sitemap_login]</a></li>
                                        <li><a href="[@url]register">[#lang_sitemap_register]</a></li>
                                        <li><a href="[@url]password/reset">[#lang_sitemap_forgot_password]</a></li>
                                        <li><a href="[@url]account/dashboard">[#lang_sitemap_dashboard]</a></li>
                                        <li><a href="[@url]account/exchanges">[#lang_sitemap_exchanges]</a></li>
                                        <li><a href="[@url]account/tickets">[#lang_sitemap_support_tickets]</a></li>
                                        <li><a href="[@url]account/reviews">[#lang_sitemap_reviews]</a></li>
                                        <li><a href="[@url]account/referrals">[#lang_sitemap_referrals]</a></li>
                                        <li><a href="[@url]account/settings">[#lang_sitemap_settings]</a></li>
                                        <li><a href="[@url]account/settings/verification">[#lang_sitemap_verification]</a></li>
                                        <li><a href="[@url]account/settings/security">[#lang_sitemap_security]</a></li>
                                        <li><a href="[@url]news">[#lang_title_news]</a></li>
                                        <li><a href="[@url]reviews">[#lang_title_customer_reviews]</a></li>
                                        <li><a href="[@url]page/discount_system">[#lang_title_discount_system]</a></li>
                                        <li><a href="[@url]page/affiliate_program">[#lang_title_affiliate_program]</a></li>
                                        <li><a href="[@url]page/terms-of-services">[#lang_title_terms_of_services]</a></li>
                                        <li><a href="[@url]page/privacy-policy">[#lang_title_privacy_policy]</a></li>
                                        <li><a href="[@url]page/about-us">[#lang_title_about_us]</a></li>
                                        <li><a href="[@url]page/faq">[#lang_title_faq]</a></li>
                                </ul>

                                <hr>
                                <h4>[#lang_title_exchange_directions]</h4>
                                <ul class="list-circle">
                                    [@directions]
                                </ul>

                                <hr>
                                <h4>[#lang_title_news]</h4>
                                <ul class="list-circle">
                                        [@news]
                                    </ul>
                        </div>
    
    
                    </div>
    
    
                </div>
            </div>
        </div>
        </div>
        <!-- /.main-container -->