																		<div class="inner-box">
        <h2 class="title-2"><i class="icon-cancel-circled "></i> [#lang_title_close_account] </h2>
        [@results]
        <p>[#lang_confirm_close_account]</p>
        <form action="" method="POST">
            <div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="deloption" id="inlineRadio1" value="yes">  [#lang_btn_1]
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="deloption" id="inlineRadio2" value="no">  [#lang_btn_2]
                    </label>
                </div>



            </div>
            <br>
            <button type="submit" name="ce_btn" value="delacc" class="btn btn-primary">[#lang_btn_3]</button>
        </form>

    </div>
    <!--/.inner-box-->																																