<div class="inner-box">
        <h2 class="title-2"><i class="fa fa-percent"></i> [#lang_title_discount_system]</h2>

        <div class="row">
                <div class="col-md-6">
                        <div class="panel panel-stats">
                            <div class="panel-body">
                                <center>
                                    <i class="fa fa-percent fa-3x"></i><br/><br/>
                                    <h3>[#lang_your_discount_level]<br/><small>[@discount_level]</small></h3>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="panel panel-stats">
                                <div class="panel-body">
                                    <center>
                                        <i class="fa fa-money fa-3x"></i><br/><br/>
                                        <h3>[#lang_your_exchanged_volume]<br/><small>[@total_exchanged] USD</small></h3>
                                    </center>
                                </div>
                            </div>
                        </div>

            </div>


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>[#lang_tb_discount_level]</th>
                            <th>[#lang_tb_exchanged_volume]</th>
                            <th>[#lang_tb_discount_percentage]</th>
                        </tr>
                    </thead>
                    <tbody>
                        [@discount_rows]
                        <tr>
                            <td colspan="3">
                                [#lang_info_2]
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
</div>