<div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-3 page-sidebar">
                    <aside>
                        <div class="inner-box">
                            <div class="user-panel-sidebar">
                                <div class="collapse-box">
                                    <h5 class="collapse-title border btn btn-primary" style="    background: darkgray; text-align: left; color: white; width: 100%; line-height:10px; height:40px;"> [#lang_menu_title_my_profile] <a href="#MyProfile" aria-expanded="true" data-toggle="collapse" class="pull-right"><span style="color: white"><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i></span></a></h5>

                                    <div class="panel-collapse collapse show" id="MyProfile">
                                        <ul class="acc-list">
                                                <li><a href="[@url]account/dashboard"><i class="fa fa-dashboard"></i>
                                                    [#lang_menu_dashboard] </a></li>
                                                    <li><a href="[@url]account/exchanges"><i class="fa fa-refresh"></i>
                                                        [#lang_menu_exchanges] </a></li>
                                                        <li><a href="[@url]account/reviews"><i class="fa fa-star"></i>
                                                            [#lang_menu_reviews] </a></li>
                                                            <li><a href="[@url]account/tickets"><i class="fa fa-support"></i>
                                                                [#lang_menu_support_tickets] [@new_tickets]</a></li>
                                                                <li><a href="[@url]account/referrals"><i class="fa fa-user-plus"></i>
                                                                    [#lang_menu_referrals]</a></li>
                                                                    <li><a href="[@url]account/discount_system"><i class="fa fa-percent"></i>
                                                                        [#lang_menu_discount_system]</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- /.collapse-box  -->
                                <div class="collapse-box">
                                    <h5 class="collapse-title no-border btn btn-primary" style="    background: darkgray; text-align: left; color: white; width: 100%; line-height:10px; height:40px;"> [#lang_menu_title_settings] <a href="#Settings" aria-expanded="true" data-toggle="collapse" class="pull-right"><span style="color: white"><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i></span></a></h5>

                                    <div class="panel-collapse collapse show" id="Settings">
                                        <ul class="acc-list">
                                                <li><a href="[@url]account/settings/profile"><i class="fa fa-user"></i> [#lang_menu_profile]</a></li>
                                                <li><a href="[@url]account/settings/security"><i class="fa fa-shield"></i> [#lang_menu_security]</a></li>
                                                <li><a href="[@url]account/settings/verification"><i class="fa fa-check-square-o"></i> [#lang_menu_verification]</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.collapse-box  -->
<!-- Modified Script by DoridroTech.Com -->
                                <div class="collapse-box">
                                    <h5 class="collapse-title no-border btn btn-primary" style="    background: darkgray; text-align: left; color: white; width: 100%; line-height:10px; height:40px;"> [#lang_menu_title_terminate_account] <a href="#TerminateAccount" aria-expanded="true" data-toggle="collapse" class="pull-right"><span style="color: white"><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i></span></a></h5>

                                    <div class="panel-collapse collapse show" id="TerminateAccount">
                                        <ul class="acc-list">
                                            <li><a href="[@url]account/close"><i class="icon-cancel-circled "></i> [#lang_menu_close_account] </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.collapse-box  -->
                            </div>
                        </div>
                        <!-- /.inner-box  -->

                    </aside>
                </div>
                <!--/.page-sidebar-->

                <div class="col-md-9 page-content">