<div class="inner-box">
        <h2 class="title-2"><i class="fa fa-star"></i> [#lang_title_reviews] <span class="pull-right"><a href="[@url]account/new/review" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> [#lang_btn_6]</a></span></h2>
    
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>[#lang_tb_your_review]</th>
                        <th>[#lang_tb_type]</th>
                        <th>[#lang_tb_posted]</th>
                        <th>[#lang_tb_status]</th>
                    </tr>
                </thead>
                <tbody>
                    [@reviews_list]
                </tbody>
            </table>
        </div>

        [@pages]
</div>