<div class="inner-box">
    <h2 class="title-2"><i class="fa fa-support"></i> [#lang_menu_support_tickets] <span class="pull-right"><a href="[@url]account/new/ticket" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> [#lang_btn_10]</a></span></h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>[#lang_tb_subject]</th>
                    <th>[#lang_tb_last_update]</th>
                    <th>[#lang_tb_status]</th>
                </tr>
            </thead>
            <tbody>
                [@tickets_list]
            </tbody>
        </table>
    </div>

    [@pages]
</div>