<tr>
    <td><img src="[@gateway_send_icon]" width="24px" style="margin-right:10px;">
        [@gateway_send_name]<br/><small>- [@amount_send] [@gateway_send_currency]</small></td>
    <td><img src="[@gateway_receive_icon]" width="24px" style="margin-right:10px;">
        [@gateway_receive_name]<br/><small>+ [@amount_receive] [@gateway_receive_currency]</small></td>
    <td><div class="[@status_class]">[@status_text]</div></td>
    <td>
                    <b>[#lang_order_id]:</b> [@order_id]<br/>
                    <b>[#lang_date]:</b> [@date]<br/>
                    <b>[#lang_exchange_rate]:</b> [@exchange_rate]<br/>
                    <b>[#lang_email_address]:</b> [@email]<br/>
                [@order_rows]
    </td>
</tr>
