<tr>
        <td>
            <b>[#lang_field_22]</b>: [@document_type]<br/>
            <b>[#lang_field_23]</b>: [@document_number]<br/>
            <b>[#lang_field_24]</b>: [@additional_information]<br/>
            <b>[#lang_file]</b>: [@filename]<br/>
        </td>
        <td>
            <span class="pull-right">
                <b>[#lang_tb_status]</b>: [@status]<br/>
                <b>[#lang_comment_from_reviewer]</b>:<br/>
                [@comment]
            </span>
        </td>
    </tr>