<div class="inner-box">
        <h2 class="title-2">[#lang_title_login]</h2>
    
        <form action="[@url]login" method="POST">
                <div class="form-group">
                        <div class="input-icon"><i class="icon-user fa"></i>
                            <input id="sender-email" type="text" placeholder="[#lang_field_26]"
                                   class="form-control email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon"><i class="icon-lock fa"></i>
                            <input type="password" class="form-control" placeholder="[#lang_field_27]"
                                   id="user-pass" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                            <button type="submit" name="ce_btn" value="login" class="btn btn-primary  btn-block">[#lang_btn_13]</a>
                        </div>
        </form>
    </div>
    <!--/.inner-box-->