<div class="card">
    <div id="heading_[@num]" role="tab" class="card-header">
        <h4 class="card-title">
            <a aria-controls="collapse_[@num]" aria-expanded="false" href="#collapse_[@num]"
               data-parent="#accordion" aria-expanded="true"  data-toggle="collapse"  class="collapsed">
                [@question]
            </a>
        </h4>
    </div>
    <div aria-labelledby="heading_[@num]" role="tabpanel" class="panel-collapse collapse"
         id="collapse_[@num]">
        <div class="card-body">
            [@answer]
        </div>
    </div>
</div>