 <div style="padding: 5px 0;background: #17477e; color: #d9d9d9; font-style: Arial, sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><span class="pull-left"><img src="/app/templates/CryptoExchanger/images/clocks.png" height="18px">[@worktime]</span></div>
           <li class="col-md-6 col-6 text-center hidden-xs"><img src="/app/templates/CryptoExchanger/images/mobile.png" height="18px"> +8801626220030‬</li>
            <div class="col-md-3"><span class="pull-right"><img src="/app/templates/CryptoExchanger/images/Operator.png" height="18px">[@operator_status]</span></div>
        </div>
    </div>
</div> 
<!-- Modified Script by atopwallet.Com -->