<div class="col-md-12">
     <div class="inner-box">
                <h4 style="color: #666666; font-weight: 900;">[@comment]</h4>
                
      </div>
        <div style="background: linear-gradient(158deg, #16A085 44%, #cc0000 90%) no-repeat 0 0 #16A085; margin-top: -40px; margin-bottom:15px; font-weight: normal; height: 30px; color: #fff; line-height: 2.5; display: block; border-color: #d9534f;border-radius: 0px 0px 5px 5px; text-align: center;">
            <span class="pull-left" style="margin-left:5px"><i class="fa fa-smile"></i> </span> [@display_name] <span class="pull-right" style="margin-right:5px"><i class="fa fa-clock"></i> </span>[@date]</div>
</div>