<article class="blog-post-item">
        <div class="inner-box">

            <!--blog content-->

            <div class="blog-post-content-desc">


                <span class="info-row blog-post-meta"> <span class="date"><i class=" icon-clock"> </i> [@date] </span></span>


                <div class="blog-post-content">
                    <h2><a href="[@url]news/view/[@id]">[@title]</a></h2>

                    <p>[@content]...</p>

                    <div class="row">
                        <div class="col-md-12 clearfix blog-post-bottom">
                            <a class="btn btn-primary  pull-left" href="[@url]news/view/[@id]">[#lang_more_info]</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </article>
