<div class="col-md-4 col-6">
    <div class="panel panel-stats"> 
        <div class="row"> 
            <div class="col-md-4 col-12"><br>
                <center>
                   <img style="border: 4px solid #85adad; border-radius: 50px;" class="img-circle" height="50px" width="50px" src="[@gateway_icon]" alt="img-circle cryptoexchanger-icon-reserve">
                </center>
                </div>
                <div class="col-md-8 col-12">
                    <center>
                    <h4><span style="color: #595959; font-weight: 900; font-size: 16px;">[@gateway_name]</span><hr>
                    <b style="color:#f2f2f2">[@gateway_reserve] [@gateway_currency]</b></h4>
                    </center>
                </div>
            </div>
        </div>
    </div>