<div class="col-md-6">
     <div class="inner-box">
             <center style="font-size:22px; margin: -20px"><span style="color: #66ad29"><li class="fa fa-star checked"></li> <li class="fa fa-star checked"></li> <li class="fa fa-star checked"></li> <li class="fa fa-star checked"></li> <li class="fa fa-star checked"></li></span></center>
<br>
         <center><img style="border-radius:50px" src="/app/templates/CryptoExchanger/assets/icons/Missing.png" height="37px"> <i class="fa fa-exchange"></i> <img src="/app/templates/CryptoExchanger/assets/icons/Missing.png" style="border-radius:50px" height="37px"></center>
                <br>
                <h4 style="color: #666666; font-weight: 900;">[@comment]</h4>
                
      </div>
        <div style="background: linear-gradient(158deg, #16A085 44%, #219150 90%) no-repeat 0 0 #16A085; margin-top: -40px; margin-bottom:15px; font-weight: normal; height: 30px; color: #fff; line-height: 2.5; display: block; border-color: #d9534f;border-radius: 0px 0px 5px 5px; text-align: center;">
            <span class="pull-left" style="margin-left:5px"><i class="fa fa-smile"></i> </span> [@display_name] <span class="pull-right" style="margin-right:5px"><i class="fa fa-clock"></i> </span>[@date]</div>
</div>