<form action="" method="POST">
<div class="message-tool-bar-right pull-right">
    <div class="btn-group btn-group-sm">
        <button class="btn btn-secondary" name="ce_btn" value="mark_solved" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as Solved "><i class=" fa fa-check"></i></button>
        <button class="btn btn-secondary" name="ce_btn" value="mark_closed" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close ticket "> <i class=" fa fa-close"></i></button>
    </div>
</div>
</form>