<ul class="nav navbar-nav ml-auto navbar-right">
        
        <li class="dropdown no-arrow nav-item"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" style="background-image: linear-gradient(-158deg, #29b765 10%, #262626 80%); text-align: left; color: white; width: 100%; text-align:center; margin-left:5px;">

            <span> [@unames] Menu</span>  <i class=" icon-down-open-big fa"></i></a>
            <ul class="dropdown-menu user-menu dropdown-menu-right">
                    <li class="dropdown-item"><a href="[@url]account/dashboard"><i class="fa fa-dashboard"></i> [#lang_menu_dashboard]</a></li>
                    <li class="dropdown-item"><a href="[@url]account/exchanges"><i class="fa fa-refresh"></i> [#lang_menu_exchanges]</a></li>
                    <li class="dropdown-item"><a href="[@url]account/tickets"><i class="fa fa-support"></i> [#lang_menu_support_tickets]</a></li>
                    <li class="dropdown-item"><a href="[@url]account/settings"><i class="fa fa-cogs"></i> [#lang_menu_title_settings]</a></li>
            </ul>
        </li>
        <li class="postadd nav-item"><a class="btn btn-block   btn-border btn-post btn-danger nav-link" href="[@url]account/logout">[#lang_menu_logout]</a>
        </li>
        
    </ul>
    
   