<ul class="nav navbar-nav ml-auto navbar-right">
        <li class="nav-item" style="margin-left:5px"><a href="[@url]login" class="btn btn-primary btn-block no-border" style="    background: darkgray; text-align: left; color: white; width: 100%; text-align:center;"><i class="fa fa-lock"></i> [#lang_login]</a>
        </li>
    
        <li class="nav-item" style="margin-left:5px"><a class="btn btn-danger btn-block no-border" style="height:36px;" href="[@url]register">[#lang_create_account]</a>
        </li>
    </ul>
    
