<div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 colpg">
                <div class="row" style="max-width:400px;margin:0 auto;">
                        <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
                            <center>
                                <img src="[@gateway_send_icon]" width="72px" style="margin-bottom:10px;"><br/>
                                <span style="font-size:20px;">[@gateway_send] [@gateway_send_currency]</span><br/>
                                <span style="font-size:15px;">[@amount_send] [@gateway_send_currency]</span>
                            </center>
                        </div>
                        <div class="col-sm-1 col-xs-1 col-md-2 col-lg-2">
                            <center><div style="margin-top:25px;" class="text-muted"><i class="fa fa-arrow-circle-o-right fa-4x"></i></div></center>
                        </div>
                        <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
                            <center>
                                <img src="[@gateway_receive_icon]" width="72px" style="margin-bottom:10px;"><br/>
                                <span style="font-size:20px;">[@gateway_receive] [@gateway_receive_currency]</span><br/>
                                <span style="font-size:15px;">[@amount_receive] [@gateway_receive_currency]</span>
                            </center>
                        </div>
                    </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 colpg">
            <br><br> 
            [@results]
            <center>[@PaymentDetails]</center>
            <br/>
            [@transaction_form]
            [@attachment_form]
            
        </div>
    </div>