<form action="" method="POST">
    <div class="row">
        <div class="col-md-2"></div>  
            <div class="col-md-8">
                <p style="font-size:14px;" class="text-center">[@gateway_send] [#lang_info_5]</p>

                <div class="input-group mb-3">
                        <input type="text" class="form-control" name="transaction_send" placeholder="Transaction ID/Number/Batch"> 
                        <div class="input-group-append">
                                <button class="btn btn-primary" style="float:left;" type="submit" role="button" name="ce_submit" value="transactionid">[#lang_btn_3]</button>
                        </div>
                      </div>
            </div>
        <div class="col-md-2"></div>
    </div>
    </form>