<br><br><form action="" method="POST" enctype="multipart/form-data">
    <div class="row">
            <div class="col-md-2"></div>  
                <div class="col-md-8">
            <p style="font-size:14px;" class="text-center">[#lang_info_6]<br/>[#lang_info_7]</p>
            
            <div class="input-group mb-3">
                    <input type="file" class="form-control" name="uploadFile"> 
                    <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" role="button" name="ce_upload" value="file">[#lang_btn_11]</button>
                    </div>
                  </div>
         <div class="text-center">[@attachments]</div>
        </div>
    <div class="col-md-2"></div>
    </div>
</form>   